---
layout: layouts/section.njk
title: Contact Us
---

<div class="tc">
<form class="w-50 center tl">
	<div class="mb3">
		<label for="name" class="db">What should we call you?</label>
		<input type="text" name="name" placeholder="Name" class="w-100 input-reset"/>
	</div>
	<div class="mb3">
		<label for="email" class="db">What's your email?</label>
		<input type="email" name="email" placeholder="Email" class="w-100 input-reset"/>
	</div>
	<div class="mb3">
		<label for="topic" class="db">What do you want?</label>
		<textarea type="text" name="topic" placeholder=" what you really really want?" class="w-100 input-reset"></textarea>
	</div>
	<div class="mt3">
		<button type="submit" class="w-100">Send it!</button>
</form>
</div>
