<div class="flex">
	<div class="w-90 center">
		<div class="bt bb pb3 ph4 pv4 flex">
			<div class="w-50 ttu">{{site.title}}</div>
			<div class="tr w-50">
				<a href="{{site.github}}" class="white pr3"><i data-feather="github"></i></a>
				<a href="https://twitter.com/{{site.twitter}}" class="white pr3"><i data-feather="twitter"></i></a>
				<a href="{{site.youtube}}" class="white pr3"><i data-feather="youtube"></i></a>
				<a href="{{site.linkedin}}" class="white pr3"><i data-feather="linkedin"></i></a>
				<a href="{{site.facebook}}" class="white"><i data-feather="facebook"></i></a>
			</div>
		</div>
	</div>
</div>
